<%- include('partials/html-head') %>
    <title>Echoes in Echoes of Wisdom</title>
</head>

<body>
    <%- include('partials/nav-start') %>
    <%- include('partials/nav-end') %>
    <div class="splash">
        <h1>Welcome to the Echoes app!</h1>
        <p>An app for collecting your favorite echoes from <a href="https://www.nintendo.com/us/store/products/the-legend-of-zelda-echoes-of-wisdom-switch/?srsltid=AfmBOopd4PTFFLXSbQCEZuTqWmKlwflKY2-NPpM-ZDnOcn-8s59MwW-_">The Legend of Zelda: Echoes of Wisdom</a>.</p>
        <p>Data taken from <a href="https://game8.co/games/Zelda-Echoes-of-Wisdom/archives/Echoes-List">game8</a>.</p>
    </div>
</body>

</html>