<%- include('partials/html-head') %>
    <title>Echoes in Echoes of Wisdom</title>
</head>

<body>
    <%- include('partials/nav-start') %>
    <%- include('partials/nav-end') %>
    <h1>Welcome to the Echoes app!</h1>
    <p>An app for collecting your favorite echoes from The Legend of Zelda: Echoes of Wisdom.</p>
    <p>Data and images taken from <a href="https://game8.co/games/Zelda-Echoes-of-Wisdom/archives/Echoes-List">game8</a>.</p>
</body>

</html>