@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap");

body {
    background-color: lightgoldenrodyellow;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid black;
}

tbody > tr:nth-child(even) {
    background-color: aqua;
}

caption {
    caption-side: top;
    padding: 10px;
}

nav {
    background-color: white;
    display: flex;
}

nav > a {
    border: 1px solid black;
    padding: 1em 1.5em;
}

hr {
    border: none;
    border-top: 1px dotted black;
}