<%- include('../../views/partials/html-head') %>
    <title>Create an Echo</title>
</head>

<body>
    <%- include('../../views/partials/nav-start') %>
    <%- include('../../views/partials/nav-end') %>
    <h1>Create a new echo</h1>
    <form action="/echoes" method="POST">
        <fieldset aria-labelledby="new-echo-legend">
            <legend id="new-echo-legend">New Echo</legend>
            <div>
                <label for="name">Name:</label>
                <input type="text" name="name" id="name" required>
            </div>
            <div>
                <label for="triPowerCost">Tri-Power cost?</label>
                <input type="number" name="triPowerCost" id="triPowerCost" required>
            </div>
            <div>
                <label for="location">Location?</label>
                <input type="text" name="location" id="location">
            </div>
            <div>
                <label for="howToGet">How to get?</label>
                <input type="text" name="howToGet" id="howToGet">
            </div>
            <div>
                <label for="isEnemy">Is this an echo of a defeated enemy?</label>
                <input type="checkbox" name="isEnemy" id="isEnemy">
            </div>
            <div>
                <button type="submit">Add echo</button>
            </div>

        </fieldset>
    </form>
</body>

</html>